* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    background: #7159c1;
    -webkit-font-smoothing: antialiased !important;
}

body, input {
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding: 30px;
    background: #fff;
    border: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 11px 13px rgba(0, 0, 0, 0.12), 0 0px 0px;
    max-width: 80%;
    margin: 20px auto;
}

input {
    margin-top: 15px;
    margin-left: 10px;
    flex: 1;
    padding: 10px 15px;
    border: 0.5px;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.25s ease-out;
    box-shadow: 0 11px 13px rgba(0, 0, 0, 0.12), 0 0px 0px;
    max-width: 60%;

}

#naoPreenchido { 
    margin: 70px 20px auto;
    text-align: center;
    color: white;
    font-size: 24px;
}

button {
    background: #fff;
    color: #222;
    border: 0;
    padding: 10px;
    margin:auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    max-width: 25%;
    box-shadow: 0 11px 13px rgba(0, 0, 0, 0.12), 0 0px 0px;
}
