* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body {
    background: #7159c1;
    -webkit-font-smoothing: antialiased !important;
}

body, input {
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 30px;
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 11px 13px rgba(0, 0, 0, 0.12), 0 0px 0px;
    max-width: 70%;
    margin: 200px auto;
}

.container p {
    padding: 12px;
}